body{
    margin: 0px;
}
*{
    box-sizing: border-box;
}
.container{
    max-width: 600px;
    width: 100%;
    height: 500px;
    border: 1px solid gray;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
}
.container_title{
    text-align: center;
}
.input-container{
    margin: 15px;
}
.input-container .input{
    width: 100%;
    border:1px solid grey;
    padding: 10px;
}
.input-container .input-error{
    color: red;
    margin: 0px;
}
.button{
    background-color: yellow;
    color:black;
    border-radius: 6px;
    padding: 5px;
}